---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Adjunct Professor in the Department of Computer Science at the Federal Rural University of Rio de Janeiro (UFRRJ). 
    Active member of the Postgraduate Program in Digital Humanities at UFRRJ and collaborates as a mentor in the Computer Systems Engineering Program at Coppe (UFRJ). 
    Research interests include developing computational methods for Artificial Intelligence problems and Data Science. 
    Experienced in technology development for the commercial sector, having worked with companies such as Buscapé and COB, as well as for the general public. 
    Co-creator of Xray Covid, a mobile phone-based Covid testing tool.  
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="D.Sc in Computer Science"
      subtitle="march 2008 to march 2013 at PUC-Rio, Rio de Janeiro, RJ, Brazil"
    />
    <TimeLineElement
      title="M.Sc in Computer Science"
      subtitle="march 2006 to march 2008 at UFRJ, Rio de Janeiro, RJ, Brazil"
    />
    <TimeLineElement
      title="B.Sc in Computer Science"
      subtitle="march 2001 to march 2005 at UFF, Niterói, RJ, Brazil"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Adjunt Professor at UFRRJ (Federal Rural University of Rio de Janeiro)"
      subtitle="From 2010 up to now at in the DCC (Computer Science Department) at UFRRJ, Nova Iguaçu, RJ, Brazil"
    >
    I am currently engaged in teaching various courses within the field of Artificial Intelligence. 
     In addition to my teaching responsibilities, I actively mentor and supervise students at undergraduate, master's, and doctoral levels. 
     My involvement extends across two postgraduate programs: I contribute to the Digital Humanities program at the Federal Rural University of Rio de Janeiro (PPGIHD/UFRRJ) and 
     the Systems and Computing Engineering Program (PESC/UFRJ). 
     My role in these programs encompasses both academic guidance and research supervision, fostering a comprehensive educational environment.
    </TimeLineElement>
    <TimeLineElement
      title="Full Analyst at ACC (Accenture do Brasil)"
      subtitle="From 2005 to 2006 at ACC, Rio de Janeiro, Brazil"
    >
    Resolution of critical and urgent problems (ARS) for the company OI. 
    Database and code Maintenance on the Siebel platform.
    </TimeLineElement>
    <TimeLineElement
      title="Trainee at Synapsis"
      subtitle="From 2004 to 2005 at Synapsis, Niterói,RJ, Brazil"
    >
    Development of a Web system for the legal system and database maintenance
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Academic Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">2016: Best Paper Award - "Semantic Search Applied to Retrieving Historical Context Information," at the III Regional School of Information Systems - ERSI-RJ 2016</a>
    </li>
    <li>
      <a href="#" target="_blank">2010: Outstanding Doctoral Student Scholarship - FAPERJ (Carlos Chagas Filho Foundation for Research Support in the State of Rio de Janeiro)</a>
    </li>
    <li>
      <a href="#" target="_blank">2010: 1st Place in the Competitive Examination for Assistant Professor in the Computer Science Department, UFRRJ (Federal Rural University of Rio de Janeiro)</a>
    </li>
  </ul>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Research Areas</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Data Science</li>
    <li>Digital Humanities</li>
    <li>Machine Learning</li>
    <li>Data Mining</li>
    <li>Natural Language Processing</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Portuguese (Native)</li>
    <li>English (Fluent)</li>
  </ul>


</BaseLayout>
